*, *:after, *:before { box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-size: 400px 450px;
 	background-color: #c7dfe1;
	color: #414a51;
	padding: 0;
	border: 0;
	margin: 0 auto;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	font-family: 'Share Tech Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	cursor: crosshair;
}


a {
	outline: none;
	color: #E86A64;
	text-decoration: none;
}

a:hover {
	color: #eb5f5f;
}

a:focus {
	outline: none;
}

h1, h2, h3, h4, h5, h6  {
	clear: both;
	text-transform: none;
	font-weight: 300;
	line-height: 1.4;
	color: #414a51;
}
h1 {
	margin: 8px 0 8px;
	font-size: 24px;
}
h2 {
	margin: 44px 0 34px;
	font-size: 26px;
	font-size: 1.625rem;
}
h3 {
	margin: 34px 0 24px;
	font-size: 24px;
	font-size: 1.5rem;
}
h4 {
	margin: 24px 0 24px;
	font-size: 20px;
	font-size: 1.25rem;
}
h5 {
	margin: 24px 0 14px;
	font-size: 18px;
	font-size: 1.125rem;
}
h6 {
	margin: 24px 0 14px;
	font-size: 16px;
	font-size: 1rem;
}
p {
	margin: 8px 0;
	font-size: 14px;
	color: #5a5a5a;
}
p.italic {
	font-style: italic;
	font-size: 12px;
}
input[type="text"],
input[type="email"],
input[type="url"] {
	border: none;
	border-bottom: 1px solid #8ac26d;
	padding: 3px;
	width: 100%;
	color: #a7a7a7;
	background-color: transparent;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus {
	border-bottom: 1px solid #eb5f5f;
	outline: 0;
	color: #5a5a5a;
}
textarea, input, button { outline: none; }

.more-link {
    color: #fff;
    background: #8ac26d;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    outline: 0;
	font-weight: 400;
	font-size: 22px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	border: 0;
	margin: auto;
	position: absolute;
	top: 50%; left: 50%;
	font-family: 'Share Tech Mono', monospace;
	-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}
.more-link:hover {
    background: #eb5f5f;
}

 /* Modals */
body.silo-modal-open {
	overflow: hidden;
}
.silo-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	min-height: 99vh;
	height: 100%;
	display: none;
	background-color: transparent;
}
.modal-a,
.final-modal .modal-b {
	display: block;
	background-color: rgba(0, 0, 0, 0.8);
}
.modal-b h1 {
	color: #fff;
	text-align: center;
	-webkit-animation: neon 6s linear infinite;
	-moz-animation: neon 6s linear infinite;
	animation: neon 6s linear infinite;
	font-size: 68px;
	font-weight: 400;
	margin: auto;
	position: absolute;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}
@keyframes neon {
	0% {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
	}
	16% {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
	}
	33% {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
	}
	50% {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
	}
	66% {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
	}
	83% {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
	}
	100% {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
	}
}  
.credits {
	color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 0 15px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
	transform: translate(-50%,0);
	width: 100%;
}
/* Clues */
.container-envelope {
	position: relative;
	background-image: repeating-linear-gradient(135deg, #eb5f5f 0px, #eb5f5f 10px, #fffbf0 10px, #fffbf0 15px, #8ac26d 15px, #8ac26d 25px, #fffbf0 25px, #fffbf0 30px);
	padding: 5px 0;
}
.envelope {
	position: relative;
	background: #fffbf0;
	padding: 10px 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
#main-role-svg {
	width: 40px;
	height: 65px;
}
#clues {
	padding-left: 30px;
	max-width: 100%;
}
#clues p {
	margin: 0;
	font-size: 16px;
}
.absolute {
	position: absolute;
}

/* SVG city */
.svg-container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

/*stars*/
#nieve-dentro-cupula .st13 {
	animation: blink 3.8s ease-in-out infinite both;
}
/*snow dots*/
#snow01,
#snow02,
#snow03 {
	animation: sky 30s linear infinite;
	opacity: 0;
}
#snow02 {
	animation-delay: 10s;
	animation-duration: 25s;
}
#snow03 {
	animation-delay: 17s;
	animation-duration: 18s;
}
@keyframes sky {
	0% { transform: translate(0px, 0px);
		 opacity: 0; }
	10% { opacity: 1; }
	90% { opacity: 1; }
	100% { transform: translate(0px, 250px);
		   opacity: 0; }
}

/*.streetlight*/
.streetlight {
	animation: streetlight 5s linear infinite;
}
.streetlight-odd {
	animation: streetlight 7s linear infinite;
}
@keyframes streetlight {
	0% { opacity: 1; }
	20% { opacity: 0.3; }
	100% { opacity: 1; }
}

/*chimney*/
.chimney {
	animation: streetlight 1s linear infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/*stars*/
#lil-stars path:nth-child(3n+1) {
	animation: starslight 18s linear infinite both;
}
#lil-stars path:nth-child(3n+2) {
	animation: starslight 18s linear infinite both;
	animation-delay: -6s;
}
#lil-stars path:nth-child(3n+3) {
	animation: starslight 18s linear infinite both;
	animation-delay: -12s;
}
@keyframes starslight {
	0% { opacity: 1; }
	33% { opacity: 0; }
	33% { opacity: 0; }
	100% { opacity: 1; }
}

/*shake*/
.noitem,
.item {
	cursor: pointer;
}
.shake {
	animation: shake 1s linear;
}
@keyframes shake {
	0% { transform: translate(0px, 0px); }
	10% { transform: translate(-10px, 0px); }
	25% { transform: translate(8px, 0px); }
	40% { transform: translate(-6px, 0px); }
	50% { transform: translate(4px, 0px); }
	60% { transform: translate(-2px, 0px); }
	70% { transform: translate(0px, 0px); }
	100% { transform: translate(0px, 0px); }
}

/*bounce*/
.bounce {
	animation: bounce 3s linear;
}
@keyframes bounce {
	0% { transform: translate(0px, 0px); }
	9% { transform: translate(0px, 0px); }
	10% { transform: translate(0px, 5px); }
	19% { transform: translate(0px, 5px); }
	20% { transform: translate(0px, 0px); }
	29% { transform: translate(0px, 0px); }
	30% { transform: translate(0px, 5px); }
	39% { transform: translate(0px, 5px); }
	40% { transform: translate(0px, 0px); }
	49% { transform: translate(0px, 0px); }
	50% { transform: translate(0px, 5px); }
	59% { transform: translate(0px, 5px); }
	60% { transform: translate(0px, 0px); }
	69% { transform: translate(0px, 0px); }
	70% { transform: translate(0px, 5px); }
	79% { transform: translate(0px, 5px); }
	80% { transform: translate(0px, 0px); }
	89% { transform: translate(0px, 0px); }
	90% { transform: translate(0px, 5px); }
	99% { transform: translate(0px, 5px); }
	100% { transform: translate(0px, 0px); }
}

/*ligths-houses*/
#xmas-ligths-house circle:nth-child(4n+1) {
	animation: ligthshouse 8s linear infinite both;
}
#xmas-ligths-house circle:nth-child(4n+2) {
	animation: ligthshouse 8s linear infinite both;
	animation-delay: -2s;
}
#xmas-ligths-house circle:nth-child(4n+3) {
	animation: ligthshouse 8s linear infinite both;
	animation-delay: -4s;
}
#xmas-ligths-house circle:nth-child(4n+4) {
	animation: ligthshouse 8s linear infinite both;
	animation-delay: -6s;
}
@keyframes ligthshouse {
	0% { fill: #f7e200; }
	24% { fill: #f7e200; }
	25% { fill: #009688; }
	49% { fill: #009688; }
	50% { fill: #ff9700; }
	74% { fill: #ff9700; }
	75% { fill: #b50063; }
	99% { fill: #b50063; }
	100% { fill: #f7e200; }
}

/* Game */
.hidden {
	display: none;
}

footer {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	background-color: #FFC107;
	width: 100%;
	padding: 0 15px;
	text-align: center;
}
footer p {
	color: #fff;
}


@media (min-width: 600px) {
	h1 {
		margin: 10px 0 10px;
		font-size: 32px;
	}
	p {
		margin: 10px 0;
		font-size: 15px;
	}
	.silo-modal-close {
		top: 20px;
	}
}
@media (min-width: 800px) {
	.container-envelope {
		position: absolute;
		right: 60%;
		top: 15%;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
	}
	#main-role-svg {
		width: 50px;
		height: 80px;
	}
	#clues p {
		font-size: 18px;
	}
	#clues {
		width: 300px;
	}
	.final-modal h1 {
		top: 60%;
	}
	.final-modal .container-envelope {
		position: fixed;
		top: 5%;
	}
}
@media (min-width: 800px) and (min-height: 800px) {
	.svg-container {
		max-height: 99vh;
		overflow: hidden;
	}
	#mini-city {
		height: 108vh;
		margin-top: -3vh;
	}
	.final-modal h1 {
		top: 50%;
	}
	.final-modal .container-envelope {
		position: absolute;
		top: 15%;
	}
}
@media (min-width: 1170px) {
	.container-envelope {
		right: 65%;
	}
	#main-role-svg {
		width: 65px;
		height: 100px;
	}
	#clues p {
		font-size: 20px;
		margin: 10px 0;
	}
}