html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Sniglet", cursive;
  color: hotpink;
  overflow: hidden;
}

header {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  margin: 50px 0;
  font-size: 4rem;
  color: hotpink;
  text-shadow: -1px -1px 0 #c546c5, 1px -1px 0 #c546c5, -1px 1px 0 #c546c5,
    1px 1px 0 #c546c5, 0 0 100px rgba(255, 255, 255, 1);
}

.intro {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  z-index: 2;
  text-align: center;
}

.start {
  background: hotpink;
  border: none;
  padding: 6px 50px;
  border-radius: 60px;
  font-family: "Sniglet", cursive;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 5px #c546c5;
  border: 2px solid rgba(197, 70, 197, 0.3);
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
  will-change: transform;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.16);
    transition: transform 0.2s;
  }
}

.progress {
  position: absolute;
  left: 50%;
  top: 35%;
  width: 100%;
  transform: translate(-50%, -35%);
  z-index: 2;
  padding: 0 30px;
  line-height: 1.35;
  text-align: center;
  font-size: 1.75rem;
  color: purple;
  opacity: 0;
  transition: opacity 0.5s;
  transition: transform 0.2s;
  &.active {
    opacity: 1;
    transition: opacity 0.15s;
  }
}

.levels {
  position: absolute;
  left: 50%;
  top: 47%;
  width: 100%;
  transform: translate(-50%, -47%);
  padding: 0 30px;
  text-align: center;
  display: none;
  @media only screen and (max-width: 375px) {
    top: 52%;
    transform: translate(-50%, -52%);
  }
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.5s;
  &.active {
    opacity: 1;
    transition: opacity 1s;
  }
}
