@function between($to, $from, $toWidth, $fromWidth) {
  $slope: ($to - $from) / ($toWidth - $fromWidth);
  $base: $from - $slope * $fromWidth;

  @return calc(#{$base} + #{100vw * $slope});
}

:root {
  font-size: between(22px, 18px, 1600px, 550px)
}

*,*:before,*:after { box-sizing: inherit }

html {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
  width: 100%;
  display: flex;
}

body {
  position: relative;
  background-color: black;
  font-family: 'Marcellus SC', serif;
  color: white;
  text-align: center;
  text-shadow:
    0 0 1px black,
    .1rem .1rem .1rem black,
    .2em .2em .4em black;
  display: flex;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

@keyframes stormyskies {
  0% { opacity: .4 }
  @for $i from 1 through 19 {
    $limit: 4;
    $percent: 0% + ($i * 5);
    #{$percent} {
      opacity: random($limit) * .1;
    }
  }
  100% { opacity: .4 }
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#app {
  position: relative;
  
  &:before,
  &:after {
    display: block;
    content: '';
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100vh;
    z-index: -1;
  }
  
  &:before {
    position: fixed;
    height: 100vh;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/106403/got-deadpool--bg.png) top center no-repeat;
    background-size: cover;
  }
  
  &:after {
    position: absolute;
    height: 100%;
    background: radial-gradient(ellipse farthest-corner at 35% 25%,white, rgba(white, 0));
    opacity: .5;
    mix-blend-mode: overlay;
    animation: stormyskies 8s linear infinite;
  }
}

main {
  position: relative;
  flex: 1;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  // fix scrolled overflow render glitch
  z-index: 1;
}

.got-logo {
  position: absolute;
  top: 2vmax;
  left: 50%;
  transform: translate3d(-50%,0,0);
  display: block;
  height: 6vmax;
  min-height: 60px;
  width: auto;
  filter: drop-shadow(0rem .25rem .25rem black);
  z-index: 100;
  transition: left .4s;
}

#got-logo-mobile {
  display: none;
}

@media (max-width: 768px) {
  #got-logo-large {
    display: none;
  }
  #got-logo-mobile {
    display: block;
    height: 5vmax;
    min-height: 50px;
  }
}

@media (min-width: 769px) {
  .showing-character #got-logo-large {
    left: 75%;
  }

  .character-item--content {
    padding-top: calc(4vw + 5vmax)!important
  }
}

.predictions {
  padding-top: calc(6vmax + 2rem)
}




//
// SPOILER WARNING & Instructions
//
.spoiler-warning--wrap,
.game-instructions--wrap {
  padding: 5vw;
}

.spoiler-warning,
.game-instructions {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 800px;
  @include tornSquare(20);
  background-color: rgba(black,.5);
  box-shadow: inset 0 0 calc(1.5rem + 2.5vw) #ff0030;
  padding: calc(1.5rem + 2.5vw);
  overflow: hidden;
}

.spoiler-confirmation--actions {
  display: flex;
  justify-content: space-evenly;
}

.game-instructions {
  box-shadow: inset 0 0 calc(1.5rem + 2.5vw) white;
  
  ul {
    text-align: left;
  }
  
  li + li {
    margin-top: .5rem;
  }
}




//
// CHARACTER
//
.character-item {
  @media (min-width: 769px) {
    flex-direction: row;
  }
}

.character-item--photo--wrap {
  width: 50%;
  background-size: cover;
  background-position: top center;
  @include tornSquare(20);
  
  @media (max-width: 768px) {
    flex: 1 1 200px;
    // min-height: ;
    width: 100%;
    overflow: hidden;
  }
}

.character-item--content {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5vw 5vw 5vw;
  font-size: 1.5rem;
  
  @media (max-width: 768px) {
    flex: 1 0 auto;
  }
  
  h2 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  
  p {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.character-item--predictions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  p {
    width: 100%;
  }
}

.predictions-radio {
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    appearance: none;
  }
  
  input:focus ~ .predictions-radio--label,
  input:checked ~ .predictions-radio--label {
    background-color: white;
    color: black;
    text-shadow: none;
    border-color: black;
    box-shadow:
      0 0 0 6px white;
    
    svg {
      fill: black;
    }
  }
}

.predictions-radio--label {
  position: relative;
  border: 4px solid white;
  background-color: rgba(black,.5);
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color .3s, background-color .3s;
}

.predictions-radio--icon {
  height: 2rem;
  width: auto;
  margin-right: .75rem;
  fill: white;
  transition: fill .3s;
}


.killer-input-wrap {
  // disable fade transition pos
  position: relative!important;
}

.killer-input {
  font-family: 'Marcellus SC', serif;
  border: 4px solid white;
  background-color: rgba(black,.5);
  color: white;
  transition: color .3s, background .3s;
  padding: .2rem .5rem;
  text-align: center;
  width: 100%;
  
  &:focus {
    background-color: white;
    color: black;
  }
}

.prediction-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;
  
  small {
    width: 100%;
    margin-top: .5rem;
  }
}

button {
  background: white;
  font-family: 'Marcellus SC', serif;
  padding: .5rem 1.5rem;
  border: none;
  color: black;
  cursor: pointer;
  border: 4px solid white;
  transition: color .3s, background .3s;
  margin-top: 1rem;
  @include tornSquare(9);
  
  &:disabled {
    background: rgba(black,.5);
    color: white;
    opacity: .5;
  }
}

.autocomplete-input-wrap {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.options-list {
  list-style: none;
  background-color: rgba(black,.9);
  padding: 1rem 1rem 1.5rem 1rem;
  @include tornSquare(20);
  position: absolute;
  bottom: calc(100% - 1rem);
  margin: 0;
  width: 100%;
  white-space: nowrap;
  font-size: 1.2rem;
  z-index: -1;
  
  li {
    border: 4px solid white;
    color: white;
    margin: .5rem;
    padding: .5rem;
    cursor: pointer;
    
    &.transition--fade--enter,
    &.transition--fade--leave-to {
      transform: translate3d(0,-1rem,0)
    }
  }
}




//
// CHARACTER LIST
//
.character-list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vmin,1fr));
  grid-gap: 2vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
}

.character-li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vmax 2vmax .5vmax 2vmax;
  margin-top: .5rem;
  cursor: pointer;
  
  &:before {
    display: block;
    content: '';
    @include tornSquare(10);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 1.5rem white;
    z-index: -1;
  }
}

.character-li--name {
  text-align: center;
  line-height: .8;
  padding-top: .5rem;
  padding-bottom: .5rem;
  flex: 1;
  display: flex;
  align-items: center;
}


.character-li--photo--wrap {
  filter: drop-shadow(0rem .2rem .2rem rgba(black,1));
  width: 100%;
  height: 30vmin;
  flex-shrink: 0;
  display: flex;
}

.character-li--photo {
  flex: 1;
  @include tornSquare(8);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.character-li--prediction {
  @include tornSquare(5);
  padding: .25rem .5rem 1rem .5rem;
  box-shadow: inset 0 0 1.5rem white;
  position: absolute;
  top: -.9rem;
}

.character-li--prediction-icon {
  width: 1rem;
  height: auto;
  fill: white;
  filter: drop-shadow(0rem .25rem .25rem rgba(black,1));
  
  &.heart {
    position: relative;
    top: .2rem
  }
}

.character-status--live {
  // TODO
}

.character-status--die {
  &:before {
    box-shadow: inset 0 0 calc(1.5rem + 2.5vw) #ff0030;
  }
}

.prediction-wrong:after,
.prediction-correct:after,
.prediction-correct-extra:after {
  display: block;
  content: '';
  position: absolute;
  left: 25%;
  width: 50%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.prediction-wrong:after {
  top: 25%;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/106403/got-deadpool--wrong.gif);
  background-position: center center;
}

.prediction-correct:after {
  top: 45%;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/106403/got-deadpool--correct.gif);
  background-position: center bottom;
}

.prediction-correct-extra:after {
  top: 45%;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/106403/got-deadpool--correct-extra.gif)!important;
  background-position: center bottom;
}




//
// TRANSITIONS
//
// ?? breaks vue transitions
// [class^="transition--slide"],
.transition--slide-left--enter-active,
.transition--slide-left--leave-active,
.transition--slide-right--enter-active,
.transition--slide-right--leave-active {
  transition: transform .4s, opacity .4s
}

.transition--slide-left--leave-to,
.transition--slide-right--leave-to {
  position: absolute;
}

main.transition--slide-left--enter-active,
main.transition--slide-right--enter-active {
  position: fixed
}

.transition--slide-left--enter,
.transition--slide-right--leave-to {
  opacity: 0;
  transform: translate3d(10rem,0,1px)
}

.transition--slide-right--enter,
.transition--slide-left--leave-to {
  opacity: 0;
  transform: translate3d(-10rem,0,1px)
}


.transition--fade--enter-active,
.transition--fade--leave-active {
  transition: opacity .3s
}

.transition--fade--leave-active {
  position: absolute;
}

.transition--fade--enter,
.transition--fade--leave-to {
  opacity: 0
}




//
// TYPOGRAPHY
//
h2 {
  font-size: 3.75rem;
  line-height: .8;
}

h3 {
  font-size: 2.25rem;
  line-height: .8;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  position: relative;
  width: 100%;
}

small {
  font-size: .8rem;
  display: block;
}




[v-cloak] { display: none!important }