@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  background-color: red;
}

* {
  margin: 0;
  padding: 0;
}
*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
  background-color: transparent;
}
body {
  //   @include flex-center;
  min-height: 100vh;
  //   background: linear-gradient(to right, #c7ff7d 0%, #e3e0de 81%);
  background-image: url(./3930.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Press Start 2P', cursive;
}
header {
  @include flex-center;
  justify-content: space-between;
  & img {
    height: 100px;
    margin-left: 10px;
  }
}
.start {
  @include flex-center;
  cursor: pointer;
  height: 40px;
  width: 120px;
  margin-left: 5px;
  //   padding: 1px 50px;
  font-size: 18px;
  border: none;
  border-radius: 40px;
  color: white;
  background-color: black;
  outline: none;
}
.control {
  display: block;
  margin: 0 auto;
  color: black;

  width: 400px;
  & h3 {
    font-size: 18px;
    margin-bottom: 3px;
  }
  & p {
    font-weight: 600;
    font-size: 14px;
    color: black;
    // color: #ffffff;
  }
  font-family: 'Roboto', sans-serif;
}
.my-canvas {
  width: 400px;
  @include flex-center;
  margin: 20px auto 10px;
  padding: 2px;
  border-radius: 3px;
  background-color: black;
}
#canvas {
  background-color: black;
  backdrop-filter: blur(40px);
  box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.3);
}
.score {
  @include flex-center;
  color: white;
  font-size: 25px;
  margin-right: 10px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  background-color: rgba(14, 13, 13, 0.3);
  backdrop-filter: blur(40px);
}
