html {
    font-size: 1vw;
}
body {
    margin: 0;
    cursor: none;
    overflow: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;  
}
.game {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}
.swatter {
    -webkit-transform: perspective(500px);
-moz-transform: perspective(500px);
-o-transform: perspective(500px);
-ms-transform: perspective(500px);
transform: perspective(500px);

}
.counter {
	width: 100%;
	height: 20%;
	top: 0;
	position: fixed;
}
