* {
  box-sizing: border-box;
  font-family: 'VT323', monospace!important;
  font-size: 21px!important;
  margin: 0;
  padding: 0;
}

$dimensionXY: 500px;
$small: 7px;
$medium: 15px;
$large: 30px;
$xlarge: 60px;
$yellow: #F59600;

$opponent1: 0;
$opponent2: -206px;
$opponent3: -412px;
$sheriff: -618px;

$standing: 0;
$armed: -206px;
$shooting: -412px;
$dead: -618px;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen {
  background-image: url("https://gilleskurt.com/thefearsomethree/bgprops.png"),  url("https://gilleskurt.com/thefearsomethree/bg.png");
  height: $dimensionXY;
  overflow: hidden;
  position: relative;
  width: $dimensionXY;
}

@keyframes cloudToRight {
  to {
    transform: translateX(700px);
  }
}

.cloud {
  background-image: url("https://gilleskurt.com/thefearsomethree/clouds.png");
  height: 200px;
  position: absolute;
  width: 200px;
}

.cloud--1 {
  animation: cloudToRight 120s linear infinite;
  transform: translateX(-110px);
}

.cloud--2 {
  animation: cloudToRight 200s 10s linear infinite;
  transform: translateX(-200px);
  background-position-x: 250px;
}

@keyframes blink {
  0%, 30% {
    opacity: 0;
  }
  
  32%, 100% {
    opacity: 1;
  }
}
@mixin button {
  background-color: transparent;
  border: 0;
  color: $yellow;
  
  &:hover {
    cursor: pointer;
  }
}

.opening-screen {}

.opening-screen__start-button {
  @include button;
  animation: blink 1.5s 3.5s linear infinite;
  background-image: url("https://gilleskurt.com/thefearsomethree/press-start.png"); 
  height: $dimensionXY;
  opacity: 0;
  width: $dimensionXY;
}

@keyframes topDownFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.opening-screen__title {
  animation: topDownFadeIn 1.5s 1s ease forwards;
  opacity: 0;
  position: absolute;
  transform: translateY(-20%);
}

.opening-screen__figures {
  animation: topDownFadeIn 2s 1s ease forwards;
  opacity: 0;
  position: absolute;
  transform: translateY(-5%);
}

@keyframes moveUp {
  to {
    transform: translateY(-5%);
  }
}

.has-message {
  .opening-screen__figures,
  .opening-screen__title {
    animation: moveUp 0.4s ease forwards;
    opacity: 1;
    transform: translateY(0);
  }
}

.continue-button {
  @include button;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.game-over,
.game-end{
  
  .message-box {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 50%);
  }
}

.opening-screen {
  .message-box {
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
}

.message-box {
  background-color: rgba(151, 106, 68, 0.9);
  border-radius: $small;
  padding: $medium;
  position: absolute;
  bottom: $small;
  transform: translateY(0);
  opacity: 1;
  
  &.is-hidden {
    opacity: 0;
    transform: translateY(20%);
  }
}

.message-box--full {
  left: 7px;
  width: calc(100% - 15px);
}

.message-box--half {
  right: 7px;
  width: calc(100% - 150px);
}

@keyframes moveIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes goner {
  to {
    opacity: 1;
    transform: rotate(-30deg) translate(-100%);
  }
}

.sheriff {
  animation: moveIn 1s ease forwards;
  background-image: url("https://gilleskurt.com/thefearsomethree/character-spritesheet.png");
  background-position-x: $standing;
  background-position-y: $sheriff;
  height: 200px;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;
  transform: translateX(-10%);
  z-index: 2;
  
  &.is-armed {
    background-position-x: $armed;
  }
  
  &.is-dead {
    background-position-x: $dead;
  }
  
  &.is-gone {
    transform: translateX(0);
    animation: goner 1s ease forwards;
  }
  
  &.is-shooting {
    background-position-x: $shooting;
  }
}

.opponent {
  animation: moveIn 1s ease forwards;
  background-image: url("https://gilleskurt.com/thefearsomethree/character-spritesheet.png");
  background-position-x: $standing;
  height: 200px;
  opacity: 0;
  position: absolute;
  right: 100px;
  bottom: 70px;
  width: 200px;
  transform: translateX(10%);
  
  &.is-armed {
    background-position-x: $armed;
  }
  
  &.is-dead {
    background-position-x: $dead;
  }
  
  &.is-shooting {
    background-position-x: $shooting;
  }
}

.opponent--1 {
  background-position-y: $opponent1;
}

.opponent--2 {
  background-position-y: $opponent2;
}

.opponent--3 {
  background-position-y: $opponent3;
}

.is-hidden {
  display: none;
}

.shoot-button {
  @include button;
  text-align: center;
  width: 100%;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}